@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change Autocomplete styles in Chrome */

/*noinspection CssInvalidPropertyValue*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: theme("colors.purple.900") inset;
    -webkit-box-shadow: 0 0 0 1000px theme("colors.purple.300") inset;
    box-shadow: 0 0 0 1000px theme("colors.purple.300") inset;
    transition: background-color 5000s ease-in-out 0s;
}

@layer base {

    * {
        @apply font-rubik;
    }

    *::selection {
        background-color: theme("colors.purple.300");
    }

    body {
        @apply bg-neutral-900 h-full w-full;
    }

    p {
        @apply text-purple-50 font-normal text-base;
    }

    h3 {
        @apply text-purple-50 font-normal text-lg tracking-[0.25em];
    }
}

@layer components {

    .t-test {
        @apply text-purple-800 font-bold text-xl bg-purple-200 text-center p-8 m-8 border-purple-600 border-dashed border-4 rounded-md;
    }

    .nav_link {
        @apply decoration-transparent decoration-2 underline underline-offset-8 font-normal transition delay-100 ease-in-out hover:decoration-purple-500 hover:text-purple-500 hover:cursor-pointer;
    }
}